<ion-content class="background">
  <ion-grid>
    <ion-row class="align-heading-text ">
      <ion-col>
        <ion-label class="heading-text">Enter OTP</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="sub-text">Enter otp sent to your mail</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="email-input">
      <ion-item lines="none">
        <ion-input placeholder="Password" [(ngModel)]="otp" name="otp">
          <ion-icon class="align-icon" src="assets/custom-icons/Password.svg"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col class="align-login-button">
        <ion-button (click)="submitOtp()">SUBMIT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
