<ion-content class="background">
  <ion-grid>
    <ion-row class="align-text">
      <ion-col>
        <ion-label class="password-reset-text">Reset your password</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="new-password">
      <ion-col>
        <ion-label class="label">ENTER NEW PASSWORD</ion-label>
        <ion-item class="password-ion-item" lines="none">
          <app-show-hide-password>
            <ion-input [(ngModel)]="newPassword" name="newPassword" type="password"></ion-input>
          </app-show-hide-password>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="verify-password">
      <ion-col>
        <ion-label class="label">VERIFY NEW PASSWORD</ion-label>
        <ion-item lines="none" class="password-ion-item">
          <ion-input [(ngModel)]="confirmNewPassword" name="confirmNewPassword"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-submit-button">
        <ion-button>SUBMIT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

