.password-reset-text {
  margin-left: 4%;
  font-family: "IBMPlexSans-Bold";
  font-size: 20px;
  font-weight: bold;
  line-height: 0.78;
  text-align: left;
  color: #1a1a1a;
}
.align-text {
  margin-top: 40%;
}

.background {
  --ion-background-color: #f5fcf6;
}
.label {
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #707070;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// ion-input {
//   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//   width: 972px;
//   --background: white;
//   --color: black;
//   --padding-start: 5% !important;
//   border-radius: 25px;
//   border: solid 1px #707070;
// }

.new-password {
  margin-top: 5%;
}

.password-ion-item{
  padding-top: 10px !important;
  --background:white;
  --border-radius:25px;
  --border-color:solid #707070;
  --border-width:1px;
  --padding-start:5%;
}

.verify-password {
  margin-top: 5%;
}

.align-icon {
  padding-left: 10%;
  font-size: 15px;
}

.align-submit-button {
  text-align: center;
  margin-top: 5%;
  ion-button {
    width: 35% !important;
    --border-radius: 25px;
    --background: #ffde03;
    --color: #1a1a1a;
    --border-color: #707070;
    --box-shadow: none;
  }
}
