ion-header {
    position: unset !important;
  }
  .header-toolbar {
    text-align: left;
    --background: white;
    border-right: 1px solid #ffde03;
    border-bottom: 2px solid #ffde03;
    border-bottom-right-radius: 61px;
    box-shadow: none;
    ion-icon {
      padding-right: 40px;
      font-size: 24px;
    }
  }

  .profile-pic{
    display: flex;
    justify-content: center;
  }
  .profileCard{
    --background:white;
    border:1px solid gray;
    border-radius:5vw;
    height:85vw;
    ion-label{
      font-family: "SourceSansPro-Bold";
    }
  }

  .button{
    display: flex;
    justify-content: center;
    ion-button{
      --background: #ffde03;
      --color:black;
      --border-radius: 14px;
    }
  }
