ion-header{
    position: unset !important;
}
.header-toolbar {
    text-align: left;
    --background: white;
    border-right:1px solid #ffde03;
    border-bottom: 2px solid #ffde03;
    border-bottom-right-radius: 61px;
    box-shadow: none;
  }
  .submit{
      text-align: center;
      --background:#ffde03;
      color:black;
  }

  .center{
      display: flex;
      align-content: center;
      justify-content: center;
  }