<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">EmailId</ion-label>
        <ion-input   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Select Role</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value=0>Admin</ion-select-option>
          <ion-select-option value=1>Showroom</ion-select-option>
          <ion-select-option value=2>Collection Agent</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input   required></ion-input>
      </ion-item>
    </form>  
    <div class="center">
      <ion-button class="submit">Create</ion-button>
    </div>
</ion-content>
