<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-title>Settings</ion-title>
    <ion-icon slot="end" src="assets/custom-icons/setting.svg"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="content-card">
    <ion-item lines="none" (click)="profile()">
      <ion-icon src="assets/custom-icons/profile.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="support()">
      <ion-icon src="assets/custom-icons/support.svg"></ion-icon>
      <ion-label>Ticket & Support</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="contactUs()">
      <ion-icon src="assets/custom-icons/contact.svg"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="aboutUs()">
      <ion-icon src="assets/custom-icons/about.svg"></ion-icon>
      <ion-label>About Us</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="logout()">
      <ion-icon src="assets/custom-icons/logout.svg"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
