<ion-content class="background">
  <ion-grid>
    <ion-row class="align-welcome-text">
      <ion-col>
        <ion-label class="welcome-text">Welcome to</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="name-text">Sri Datta Enterprises</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="email-input">
      <ion-item lines="none">
          <ion-input placeholder="Email" [(ngModel)]="emailId" name="emailId">
            <ion-icon class="align-icon" src="assets/custom-icons/email.svg"></ion-icon>
          </ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="password-input">
      <ion-item lines="none">
        <ion-input placeholder="Password" [(ngModel)]="password" name="password">
          <ion-icon class="align-icon" src="assets/custom-icons/Password.svg"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col class="align-login-button">
        <ion-button (click)="login()">Log in</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="Forgot-password">
        <ion-label>Forgot password?</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
