.heading-text{
    margin-left: 5%;
    font-family: 'IBMPlexSans-Bold';
    font-size: 15px;
    font-weight: bold;
    line-height: 0.78;
    text-align: left;
    color: #1a1a1a;
  }
  
  .sub-text {
    margin-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 0.78;
    text-align: left;
    color: #1a1a1a;
  }
  
  .align-heading-text {
    margin-top: 40%;
  }
  .background {
    --ion-background-color: #f5fcf6;
  }
  
  ion-input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 972px;
    --background: white;
    --color: black;
    --padding-start: 5% !important;
    border-radius: 25px;
    border: solid 1px #707070;
    ion-icon {
      font-size: 25px;
    }
  }
  
  .email-input {
    margin-top: 20%;
  }
  
  .align-icon {
    padding-left: 6%;
  }
  
  .align-login-button {
    text-align: center;
    margin-top: 5%;
    ion-button {
      width: 35% !important;
      --border-radius: 25px;
      --background:#ffde03;
      --color: #1a1a1a;
      --border-color:#707070;
      --border-width:1px;
      --box-shadow:none;
    }
  }

  