<ion-content>
  <ion-toolbar class="header-toolbar">
      <ion-title class="header-title" slot="start">
        <h1>Welcome back</h1>
        <h2>UserName</h2>
      </ion-title>
      <ion-avatar class="header-profile-image" slot="end">
        <img src="assets/custom-icons/user-avatar.svg">
      </ion-avatar>
  </ion-toolbar>
  <ion-item class="tasks-card" lines="none" (click)="showroomsList()">
    <ion-icon src="assets/custom-icons/customerList.svg" slot="start"></ion-icon>
    <ion-label>Showrooms list</ion-label>
  </ion-item>
  <ion-item class="tasks-card" lines="none">
    <ion-icon src="assets/custom-icons/customerList.svg" slot="start"></ion-icon>
    <ion-label>Collection Agents</ion-label>
  </ion-item>
  <ion-item class="tasks-card bottom-padding" lines="none">
    <ion-icon src="assets/custom-icons/customerList.svg" slot="start"></ion-icon>
    <ion-label>Existing Customers</ion-label>
  </ion-item>
  <ion-item class="tasks-card bottom-padding" lines="none" >
    <ion-icon src="assets/custom-icons/OdRequest.svg" slot="start"></ion-icon>
    <ion-label>OD Requests</ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" >
    <ion-fab-button class="fabButton">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button size=5 class="fabStyle" (click)="addNewUser()">Create New User</ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>