<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Showrooms List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-searchbar placeholder="Search" searchIcon></ion-searchbar>
  <ion-grid>
    <ion-item class="content-card" lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/custom-icons/user-avatar.svg" />
        </ion-thumbnail>
      <ion-col>
        <ion-label class="name">Showroom Name</ion-label>
        <ion-label class="loanId">Phone no. :- 93123456789</ion-label>
        <ion-label class="EMI">Place :- Hindupur</ion-label>
      </ion-col>
    </ion-item>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="start"  slot="fixed" >
    <ion-fab-button class="fabButton">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button size=5 class="fabStyle" (click)="addShowroom()">Add New Showroom</ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
