<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Customer Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="profile-card">
    <ion-item>
      <ion-label
        >UserName<br /><ion-text>Loan No. :123456789</ion-text></ion-label
      >
      <ion-avatar class="header-profile-image" slot="end">
        <img src="assets/custom-icons/user-avatar.svg" />
      </ion-avatar>
    </ion-item>
  </ion-card>
  <mat-card class="cards" >
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title> Showroom Details </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
  </mat-card>
  <mat-card class="cards" >
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Showroom Details </mat-panel-title>
          <!-- <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
</mat-card>
</ion-content>
